* {
    color:white;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    box-sizing: border-box;
}

figcaption {
    width: 100%;
}



@media only screen and (max-width: 900px) {
    #body {
        background-color: #283776;
        width: 50%;
        margin: auto;
    }
    
    h1 {
        font-size: 50px;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .imgrow1 {
        width: 50%;
    }
    
    img {
        width: 70%;
    }

    figcaption {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    #body {
        background-color: #283776;
        width: 50%;
        margin: auto;
    }
    
    h1 {
        font-size: 30px;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .imgrow1 {
        width: 100%;
    }
    
    img {
        width: 100%;
    }
}

@media only screen and (min-width: 901px) {

    #body {
        background-color: #283776;
        width: 50%;
        margin: auto;
    }
    
    h1 {
        font-size: 75px;
    }
    
    section {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    .imgrow1 {
        width: 33.3%;
    }
    
    img {
        width: 70%;
    }
}

